.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f1f1f;
    z-index: 1000;
    border-bottom: 1px solid #333;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-bar {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    position: relative;
}

.menu-item {
    position: relative;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-item:hover, .menu-item a:hover {
    color: #00bcd4;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    padding: 10px 0;
    display: none;
    min-width: 200px;
}

.dropdown-item {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #444;
}

.menu-element:hover {
    background-color: #444;
}

.nested {
    position: relative;
}

.menu-label i {
    font-size: 12px;
    margin-left: 8px;
    transition: transform 0.3s ease;
    vertical-align: middle;
    color: #fff;
}

.rotated {
    transform: rotate(90deg);
}

.menu-item i {
    font-size: 14px;
    color: #fff;
    transition: transform 0.3s ease;
}

.menu-item .rotated {
    transform: rotate(180deg);
}

.nested:hover > .menu-label::after,
.nested:focus-within > .menu-label::after {
    transform: rotate(180deg);
}

.nested-dropdown {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    display: none;
    min-width: 200px;
}

.nested:hover .nested-dropdown,
.nested:focus-within .nested-dropdown {
    display: block;
}


.logout-button {
    position: absolute;
    right: 20px;
    top: 50%; /* Pozycjonowanie względem środka paska menu */
    transform: translateY(-50%); /* Wyrównanie środka przycisku */
    padding: 10px 15px;
    background-color: #b02525;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #ea6464;
}

.logout-button:focus {
    outline: 2px solid #e04343;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.8);
}

.menu-item:hover .dropdown,
.menu-item:focus-within .dropdown {
    display: block;
}

.fas.fa-chevron-right {
    font-size: 12px;
    color: #999;
    transition: transform 0.2s ease;
    margin-left: 8px;
}

/* General mobile styles */
.hamburger-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.menu-items {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.menu-items.mobile-open {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #1f1f1f;
    padding: 10px 0;
}

.menu-items.mobile-open .logout-button {
    position: static;
    width: 20%;
    margin-left: 10px;
    margin-top: 100px
}


@media (max-width: 850px) {
    .menu-bar {
        justify-content: space-between;
    }

    .menu-items {
        display: none;
    }

    .menu-items.mobile-open {
        display: flex;
    }

    .hamburger-icon {
        display: block;
    }

    .logout-button {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
