.table-container {
    margin: 50px auto;
    width: 80%;
    max-width: 1200px;
    min-width: 320px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.table-container i {
    margin-right: 15px;
    vertical-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    table-layout: fixed;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 10px;
    border-bottom: 1px solid #444;
    text-align: center;
    word-wrap: break-word;
}

.table th {
    background-color: #414141;
    color: #fff;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    -webkit-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table th:hover {
    color: #00bcd4;
}

.table th i {
    font-size: 14px;
    color: #fff;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.rotated-up {
    transform: rotate(0deg);
}

.rotated-down {
    transform: rotate(180deg);
}

.table th:last-child {
    pointer-events: none;
}

.table th:hover {
    background-color: #545454;
}

.table td {
    -webkit-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
    background-color: #2a2a2a; /* Domyślny kolor dla wszystkich wierszy */
}

.table tr {
    cursor: pointer;
}

.table tr:nth-child(even) td {
    background-color: #262626; /* Inny odcień dla parzystych wierszy */
}

.table tr:nth-child(odd) td {
    background-color: #2a2a2a; /* Odcień dla nieparzystych wierszy */
}

.table tr:hover td {
    background-color: #476a75;
}

.search-bar {
    text-align: left;
}

.search-input {
    width: 25%;
    padding: 10px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
}