.delete-button {
    background-color: rgba(255, 77, 77, 0.64); /* #ff4d4d; */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #ec1010;
}

.edit-button {
    background-color: #00BCD487;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.edit-button:hover {
    background-color: rgba(99, 229, 255, 0.53);
}