.account-details-container {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.upper-section-container {
    position: sticky;
    top: 20px;
    z-index: 900;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
}

.account-details-header {
    font-size: 26px;
    color: #00bcd4;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.account-details-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.8;
    color: #eee;
}

.account-details-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.account-details-list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.account-details-label {
    font-weight: bold;
    color: #00bcd4;
}

.account-details-value {
    text-align: right;
    color: #fff;
}

.overview-item {
    background-color: #1f1f1f;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: all 0.3s ease;
}

.overview-item:hover {
    background-color: #333;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);
}

.transaction-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.transaction-item-title {
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transaction-amount {
    flex-shrink: 0;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.transaction-amount.positive {
    color: #4caf50;
}

.transaction-amount.negative {
    color: #f44336;
}

.transaction-date {
    font-size: 14px;
    color: #aaa;
    margin: 0;
}

.transaction-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.transaction-item-description {
    text-align: left;
}

.transaction-item-category {
    text-align: right;
    font-style: italic;
}

.transactions-container {
    display: flex;
    flex: 2;
    gap: 20px;
    max-width: 100%;
    margin-bottom: 20px;
}

.middle-section-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.transaction-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.see-all-container {
    text-align: center;
    margin-top: 15px;
}

.see-all-button:hover {
    background-color: #39a5b0;
}

.limit-container {
    display: flex;
    flex: 1;
    gap: 20px;
    max-width: 100%;
    margin-bottom: 20px;
}

.limit-details {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    width: 100%;
}

.limit-exceeded {
    font-weight: bold;
    color: #e80f0f;
}

.bottom-section-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.transactions-details-container {
    display: flex;
    flex: 2;
    gap: 20px;
    max-width: 100%;
    margin-bottom: 20px;
}

.overview-section {
    flex: 1;
    background-color: #262626;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px inset rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
}

.overview-section::-webkit-scrollbar {
    width: 8px;
}

.overview-section::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 5px;
}

.overview-section::-webkit-scrollbar-track {
    background: #1f1f1f;
}

.monthly-summary-chart {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.monthly-summary-chart:hover {
    background-color: #333;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);
}

.categories-overview-container {
    display: flex;
    flex: 1;
    gap: 20px;
    max-width: 100%;
    margin-bottom: 20px;
}

.categories-overview-section {
    flex: 1;
    background-color: #262626;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px inset rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .middle-section-container {
        flex-direction: column;
        gap: 20px;
    }

    .bottom-section-container {
        flex-direction: column;
        gap: 20px;
    }

    .transactions-container {
        flex-direction: column;
        gap: 20px;
    }

    .transactions-section {
        max-width: 100%;
        height: auto;
    }

    .transactions-section {
        overflow: visible;
    }
}