.date-range-section {
    flex: 1;
    background-color: #262626;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px inset rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiles-section {
    width: 100%;
    background-color: #262626;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px inset rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-chart {
    width: 100%;
    background-color: #262626;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px inset rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analytics-radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.analytics-radio-label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.analytics-radio-label input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #262626;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

.analytics-radio-label input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

.analytics-radio-label input[type="radio"]:checked::before {
    transform: scale(1);
}

.analytics-radio-label input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.analytics-radio-label:focus-within {
    color: var(--form-control-color);
    transition: all 120ms ease-in-out;
}

.analytics-date-range {
    display: flex;
    gap: 20px;
}

.analytics-date-range input[type="date"] {
    margin-top: 5px;
    padding: 6px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: #fff;
    border-radius: 4px;
}

.analytics-date-range input[type="date"]:hover {
    background-color: #444444;
}

.analytics-date-range input[type="date"]::placeholder {
    color: #777;
}

.tiles {
    display: flex;
    gap: 20px;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}